@font-face {
  font-family: "DWAntiguaSemiBold";
  src: url('https://digger-training-modules-resources.s3.eu-central-1.amazonaws.com/resources/DWTheAntiquaBLatinBasicLetters-W6SemiBold.woff2') format('woff2');
}

@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-display: swap;
  weight: 400;
  src: url('https://digger-training-modules-resources.s3.eu-central-1.amazonaws.com/resources/noto-sans-google.woff2') format('woff2');
}


@font-face {
  font-family: "Noto Sans Bold";
  font-style: normal;
  font-display: swap;
  weight: 700;
  src: url('https://digger-training-modules-resources.s3.eu-central-1.amazonaws.com/resources/noto-sans-google-bold.woff2') format('woff2');
}



@font-face {
  font-family: "icons";
  src: url('https://digger-training-modules-resources.s3.eu-central-1.amazonaws.com/resources/fontello.woff2');
}

:root{
  --blue: rgba(31, 122, 145, 1);  /*  #1f7a91; */
  --blue-light: #57A9C0;
  --blue-lighter: rgba(31, 122, 145, .45);
  --blue-highlight: #1E77A9;
  --white: #fefefe;
  --black: #332;
  --grey: #998;
  --lightgrey: #ebebeb;
  --red: #c62026;
  --orange: #f58220;
  --yellow: #f7d33e;
  --green: #4cb748;
  --light-green: #93cc7e;
  --font: "Noto Sans";
  --icon-font: "icons";
  --heading-font: "DWAntiguaSemiBold", "PT Serif", "Serif";
  --spacing: 1.6rem;
}


:global(button) { cursor:pointer; }

:global(p strong) {
  font-family: "Noto Sans Bold";
}

:global(p b) {
  font-family: "Noto Sans Bold";
}
