@import './shared.css';

.wrapper {
  font-family: var(--font);
  color: var(--black)
}

html, body {
    padding: 0;
    margin: 0;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.content {
    margin: 0 auto;
    max-width: 66rem;
    font-family: var(--font);
  }

.content h1, .content h2, .content h3, .content h4 {
  font-family: var(--heading-font);
  font-weight: normal;
}
.intro {
  font-family: var(--heading-font);
}

.intro h1 {
  font-size: 3rem !important;
  font-family: var(--heading-font) !important;
}

.progress {
  height: var(--spacing);
  width:100%;
  border-top: 1px solid var(--blue-lighter);
  border-bottom: 1px solid var(--blue-lighter);
}
.progressInner {
  height: var(--spacing);
  background-color: var(--blue-lighter);
  transition: width .5s;
  transition-timing-function: ease-out;
}

@-webkit-keyframes slide-right {
      0% { opacity: 0; transform: translateX(-100%); }
    100% { opacity: 1; transform: translateX(0); }
}
@-webkit-keyframes slide-left {
      0% { opacity: 0; transform: translateX(+100%); }
    100% { opacity: 1; transform: translateX(0); }
}

.activity {

}
.activity.fromLeft { animation: slide-right .3s ease-out; }
.activity.fromRight { animation: slide-left .3s ease-out; }
.activity.active { display: block; }
.activity.notActive { display: none; }

.module {
    border: 1px solid var(--lightgrey);
    margin-bottom: 1rem;
    overflow: hidden;
    margin-top: calc(var(--spacing) * 2);
    box-shadow: 0px 7px 15px rgba(0,0,0,0.15);
        }

.panel1 img, .panel1 svg, .panel2 img, .panel2 svg {
    box-shadow: 0px 7px 15px rgba(0,0,0,0.15);
}

.theme {

}

.button {
  padding: calc(var(--spacing) / 2) var(--spacing);
  border-radius: 0;
  border: 4px solid var(--blue);
  background-color: var(--blue);
  color: var(--white);
}
.button:hover { border: 4px solid darkblue }

.buttonPrimary {
  padding: calc(var(--spacing) / 2) var(--spacing);
  border-radius: 0;
  border: 4px solid var(--blue);
  background-color: var(--blue);
  color: var(--white);

}
.buttonPrimary:hover { border: 4px solid darkblue }

.buttonCallTo {
  padding: calc(var(--spacing) / 2) var(--spacing);
  border-radius: 0;
  border: 4px solid var(--orange);
  background-color: var(--orange);
  color: var(--white)
}
.buttonCallTo:hover { border: 4px solid var(--blue-light) }

.buttonSecondary {
  padding: calc(var(--spacing) / 2) var(--spacing);
  border-radius: 0;
  border: 4px solid var(--white);
  background-color: var(--white);
  color: var(--blue);
}
.buttonSecondary:hover { border: 4px solid var(--blue-light) }

.moduleHeader {
  display:flex;
  flex-direction: row;
  background-color: var(--blue-light);
  color: var(--white)
}
.moduleFooter {
  display:flex;
  flex-direction: row;
  border-top: 1px solid var(--blue-lighter);
  margin-top: var(--spacing);
}
.moduleHeaderItem {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: calc(var(--spacing) / 2) var(--spacing);
  font-family: var(--heading-font);
}
.moduleHeaderItem a {
  text-decoration: none;
  color: var(--white);
}
.moduleHeaderItem:last-child {
}

.moduleHeaderItemCenter {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.activityHeaders {
}
.activityModuleTitle {
  display: inline-block;
  font-family: var(--heading-font);
  font-weight: normal;
}
.activityHeader {
  display: inline-block;
  font-family: var(--heading-font);
  margin-right: .3rem;
}
.activityHeader.active { text-decoration: underline; }
.activityHeader:after { content: " / "; color: var(--white); text-dexoration: none; }
.activityHeader:last-child:after { content: " "; }

.moduleHeaderItem .buttonSecondary{
  padding: 0;
  border: 0;
  margin: 0;
  color: var(--blue-light);
}

.title {
  font-size: 2.2rem;
  font-family: var(--heading-font);
  font-weight: normal;
}
.description {
  font-size: 1.8rem;
  font-family: var(--heading-font);
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.success {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: var(--spacing);
}
/* slightly transparent fallback */
.success {
  background-color: rgba(255, 255, 255, .9);
    z-index:4;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-name: fadeIn;
    animation-timing-function: ease;
}
/* if backdrop support: very transparent and blurred */
@supports ((-webkit-backdrop-filter: blur(2em)) or (backdrop-filter: blur(2em))) {
  .success {
    background: linear-gradient(306deg, rgba(255,255,255,.1) 0%, rgba(255,255,255,.8) 49%);
    backdrop-filter: blur(4px) saturate(0.5);
    -webkit-backdrop-filter: blur(2em) saturate(0.5);

  }
}

.successInner {
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-name: fadeIn;
    animation-timing-function: linear;
    padding: var(--spacing);
}

.completedTitle {
    font-size: 3rem;
    font-family: var(--heading-font);
    margin-bottom: var(--spacing);
}
.finishButtons > * {
  font-size: 1.6rem;
  margin-right: var(--spacing);
}
