.wrapper {}

html, body {
    padding: 0;
    margin: 0;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.content {
    backgroundColor: 'white';
    margin: '0 auto';
    maxWidth: '40rem';
  }

.message {
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-name: fadeIn;
    animation-timing-function: linear;
    background-color: lightblue;
    display: block;
    margin: 1rem;
    padding: .5rem 1rem;
    border-radius: .5rem;
    border: 1px solid #ddd;
    color: black;
}

.messages {
position: fixed;
    bottom: 0;
    width: 90vw;
}


.removeButton {}
