@import './shared.css';

.wrapper {

}

.theme {
    padding: var(--spacing);
    border: 1px solid var(--blue-lighter);
    margin-right: var(--spacing);
    text-align: center;
}
.theme:last-child {
    margin-right: 0rem;
}

.title {
    font-family: var(--heading-font) !important;
    font-size: 2rem !important;

}

.description {

}

.modules{
    display: flex;
    flex-direction: row;
}
@media screen and (max-width: 575px) {
  .modules{
    flex-direction: column;
  }
}

.module {
    color: var(--black);
    background-color: var(--light-grey);
    position: relative;
    border: 1px solid var(--blue-lighter);
    margin: calc(var(--spacing) / 2) calc(var(--spacing) * 2);
}

.backProgress {
    background-color: var(--blue-lighter);
    position: absolute;
    height: 100%;
    transition: width .5s;
    transition-timing-function: ease-out;
}
.moduleTitle {
    margin: calc(var(--spacing) / 2) auto;
    text-align: center;
    font-family: var(--heading-font);
    text-decoration: none;
}
