@import './shared.css';

.wrapper {
  font-family: var(--font);
  color: var(--black)
}

html, body {
    padding: 0;
    margin: 0;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.content {
    margin: 0 auto;
    max-width: 66rem;
  }

.progress {
  height: 1rem;
  width:100%;
  border: 1px solid var(--blue-lighter);
}
.progressInner {
  height: 1rem;
  background-color: var(--blue-lighter);
  transition: width .5s;
  transition-timing-function: ease-out;
}

@-webkit-keyframes slide-right {
      0% { opacity: 0; transform: translateX(-100%); }
    100% { opacity: 1; transform: translateX(0); }
}
@-webkit-keyframes slide-left {
      0% { opacity: 0; transform: translateX(+100%); }
    100% { opacity: 1; transform: translateX(0); }
}

.activity {

}
.activity.fromLeft { animation: slide-right .3s ease-out; }
.activity.fromRight { animation: slide-left .3s ease-out; }
.activity.active { display: block; }
.activity.notActive { display: none; }

.module {
    border: 1px solid var(--lightgrey);
    margin-bottom: 1rem;
    overflow: hidden;
    margin-top: 3rem;
    box-shadow: 3px 3px 3px 3px;
    box-shadow: 0px 7px 15px rgba(0,0,0,0.15);
        }

.theme {

}

.buttonPrimary {
  padding: .5em 1em;
  border-radius: 0;
  border: 1px solid var(--white);
  background-color: var(--blue);
  color: var(--white)
}

.buttonSecondary {
  padding: .5em 1em;
  border-radius: 0;
  border: 1px solid var(--blue);
  background-color: white;
  color: var(--blue);
}

.moduleHeader {
  display:flex;
  flex-direction: row;
  background-color: var(--blue-light);
  color: var(--white)
}
.moduleFooter {
  display:flex;
  flex-direction: row;
  border-top: 1px solid var(--blue-lighter);
  margin-top: 1rem;
}
.moduleHeaderItem {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .5rem 2rem;
}
.moduleHeaderItem a {
  text-decoration: none;
  color: var(--white);
}
.moduleHeaderItem:last-child {
}

.moduleHeaderItemCenter {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.activityHeaders {
}
.activityModuleTitle {
  display: inline-block;
  font-family: var(--heading-font);
}
.activityHeader {
  display: inline-block;
  font-family: var(--heading-font);
  margin-right: .3rem;
}
.activityHeader.active { color: var(--orange); }
.activityHeader:after { content: " / "; }
.activityHeader:last-child:after { content: " "; }

.moduleHeaderItem .buttonSecondary{
  padding: 0;
  border: 0;
  margin: 0;
  color: var(--blue-light);
}

.title {
  font-size: 2rem;
  font-family: var(--heading-font);
}
.description {
  font-size: 1.3rem;
  font-family: var(--heading-font);
}
