@import './shared.css';

.wrapper {
    padding-top: var(--spacing);
}

.theme {
    padding: var(--spacing);
    border: 1px solid var(--grey);
    margin-right: var(--spacing);
    text-align: center;
    background-color: white;
    display: flex;
    flex-direction: column;
}
@media screen and (max-width: 575px) {
  .theme{
      margin-right: 0;
  }
}
.theme:last-child {
    margin-right: 0rem;
}

.title {
    font-family: var(--heading-font) !important;
    font-size: 2rem !important;

}

.description {

}

.modules{
    display: flex;
    flex-direction: row;
}
@media screen and (max-width: 575px) {
  .modules{
    flex-direction: column;
  }
}

.modLink {
    text-decoration: none;
    width: 100%;
}
.activities {
    flex: 1;
    align-items: flex-end;
    justify-content: flex-end;
    display: flex;
    flex-direction: column;
}

.module {
    color: var(--black);
    background-color: var(--light-grey);
    position: relative;
    border: 1px solid var(--blue-lighter);
    margin: calc(var(--spacing) / 2) 0;
}

.backProgress {
    background-color: var(--blue-lighter);
    position: absolute;
    height: 100%;
    transition: width .5s;
    transition-timing-function: ease-out;
}
.moduleTitle {
    margin: 0 auto;
    padding:  .3rem var(--spacing);
    text-align: center;
    font-family: var(--font);
    text-decoration: none !important;
    background-color: var(--lightgrey)
}
a .moduleTitle {
    text-decoration: none;
    font-family: var(--font);
}

.progressHeader {
    position: fixed;
    bottom: 0;
    z-index: 9999;
    width: 100%;
    left: 0;
    background-color: var(--lightgrey);
}
