@import '../../digger-modules/shared.css';
.activity {
    display: flex;
    flex-direction: row;
    position: relative;
}
@media screen and (max-width: 575px) {
  .activity {
    flex-direction: column;
  }
}
.activityDiffs {
    display: flex;
    flex-direction: column;
    position: relative;
}
.row1 {
    padding: var(--spacing)
}
.row2 {
    display: flex;
    flex-direction: row;
    position: relative;
}
@media screen and (max-width: 575px) {
  .row2 {
    flex-direction: column;
  }
}
.row2 .panel2 {
    padding-top: calc(var(--spacing) + 1.3rem);
}

.panel1 {
    flex: 1;
    padding-top: var(--spacing);
    padding-right: var(--spacing);
    padding-left: var(--spacing);
}
.panel2 {
    flex: 1;
    padding-right: var(--spacing);
    padding-top: var(--spacing);
}

.title {
  font-size: 2.8rem !important;
  font-family: var(--heading-font) !important;
  margin-top: 0 !important;
  font-weight: normal !important;
  margin-bottom: var(--spacing) !important;
}
.description {
  font-size: 1.3rem;
  font-family: var(--heading-font);
}
.tips {
    font-size: 1rem;
}

.stats {
    display: flex;
    color: #999;
}

.stat_found {
    text-align: left;
    flex: 1;
}
.count_found {
    color: var(--green);
}

.stat_failed {
    text-align: right;
    flex: 1;
}
.count_failed {
    color: var(--red);
}

.panelImage, .panelVideo {
    width: 100%;
}

.buttonCorrect {
    background-color: var(--green) !important;
    border: 4px solid var(--green) !important;
}

.buttonWrong {
    background-color: var(--red) !important;
    border: 4px solid var(--red) !important;
}

.title {
  font-size: 2rem;
  font-family: var(--heading-font);
}
.description {
  font-size: 1.3rem;
  font-family: var(--heading-font);
}

.input {
  border: 1px solid var(--blue);
  color: var(--blue);
  padding: calc(var(--spacing) / 2) var(--spacing);
}

.options > * {
  display: inline-block;
  margin-right: calc(var(--spacing) / 2);
  padding: .2rem .4rem !important;
}
