
.activity {
    display: flex;
    flex-direction: row;
}

.panel1 {
    flex: 1;
    padding-right: 1rem;
}
.panel2 {
    flex: 1;
}

.title {

}

.description {

}

.stats {
    display: flex;
    color: #999;
}

.stat_found {
    text-align: left;
    flex: 1;
}
.count_found {
    color: green;
}

.stat_failed {
    text-align: right;
    flex: 1;
}
.count_failed {
    color: red;
}
