@import '../../digger-modules/shared.css';
.activity {
    display: flex;
    flex-direction: row;
    position: relative;
}
@media screen and (max-width: 575px) {
  .activity {
    flex-direction: column;
  }
}
.activityDiffs {
    display: flex;
    flex-direction: column;
    position: relative;
}
.row1 {
    padding: var(--spacing)
}
.row2 {
    display: flex;
    flex-direction: row;
    position: relative;
}
@media screen and (max-width: 575px) {
  .row2 {
    flex-direction: column;
  }
}
.row2 .panel2 {
    padding-top: calc(var(--spacing) * 1.7);
}

.panel1 {
    flex: 1;
    padding-top: var(--spacing);
    padding-right: var(--spacing);
    padding-left: var(--spacing);
}
.panel2 {
    flex: 1;
    padding-right: var(--spacing);
    padding-top: var(--spacing);
}

.title {
  font-size: 2.8rem;
  font-family: var(--heading-font);
  margin-top: 0;
  font-weight: normal;
}
.description {
  font-size: 1.3rem;
  font-family: var(--heading-font);
}
.tips {
    font-size: 1rem;
}

.stats {
    display: flex;
    color: #999;
}

.stat_found {
    text-align: left;
    flex: 1;
}
.count_found {
    color: var(--green);
}

.stat_failed {
    text-align: right;
    flex: 1;
}
.count_failed {
    color: var(--red);
}
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.success {
    position: absolute;
    width: 100%;
    height: 100%;
}
/* slightly transparent fallback */
.success {
  background-color: rgba(255, 255, 255, .9);

  z-index:4;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-name: fadeIn;
    animation-timing-function: ease;
}
/* if backdrop support: very transparent and blurred */
@supports ((-webkit-backdrop-filter: blur(2em)) or (backdrop-filter: blur(2em))) {
  .success {
    background-color: rgba(255, 255, 255, .5);
    backdrop-filter: blur(2px) saturate(0.5);
    -webkit-backdrop-filter: blur(2em) saturate(0.5);

  }
}

.successInner {
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-name: fadeIn;
    animation-timing-function: linear;
    padding: var(--spacing);
}

.completedTitle {
    font-size: 3rem;
    font-family: var(--heading-font);
}

.panelImage, .panelVideo {
    width: 100%;
}

.buttonCorrect {
    background-color: var(--green) !important;
}

.buttonWrong {
    background-color: var(--red) !important;

}

.title {
  font-size: 2rem;
  font-family: var(--heading-font);
}
.description {
  font-size: 1.3rem;
  font-family: var(--heading-font);
}

.input {
  border: 1px solid var(--blue);
  color: var(--blue);
  padding: calc(var(--spacing) / 2) var(--spacing);
}
